<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"5vh"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:5vh">
	<!-- wp:heading {"level":5,"align":"wide","className":"page-eyebrow"} -->
	<h5 class="wp-block-heading alignwide page-eyebrow">Publications</h5>
	<!-- /wp:heading -->
	<!-- wp:heading {"level":1,"textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} -->
	<h1 class="wp-block-heading alignwide has-text-align-center" style="margin-bottom:var(--wp--preset--spacing--50)">Browse our publications and conference proceedings</h1>
	<!-- /wp:heading -->
	<!-- wp:heading {"level":5,"textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} -->
	<h5 class="wp-block-heading has-text-align-center" style="margin-bottom:var(--wp--preset--spacing--40)">You can also visit us on <a href="https://scholar.google.com/citations?user=ldWB4vQAAAAJ&hl=zh-CN">Google Scholar</a> and <a href="https://www.researchgate.net/profile/Weizhuo-Lu">ResearchGate</a></h5>
	<!-- /wp:heading -->
	<!-- wp:separator -->
	<hr class="wp-block-separator has-alpha-channel-opacity"/>
	<!-- /wp:separator -->
	<!-- wp:spacer {"height":"var:preset|spacing|30"} -->
	<div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:shortcode -->
	[publication_list]
	<!-- /wp:shortcode -->
	<!-- wp:spacer {"height":"var:preset|spacing|30"} -->
		<div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:buttons -->
	<div class="wp-block-buttons"><!-- wp:button -->
	<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://scholar.google.com/citations?user=ldWB4vQAAAAJ&amp;hl=zh-CN" target="_blank" rel="noopener">Google Scholar</a></div>
	<!-- /wp:button -->

	<!-- wp:button -->
	<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://www.researchgate.net/profile/Weizhuo-Lu" target="_blank" rel="noopener">ResearchGate</a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons -->
	<!-- wp:spacer {"height":"var:preset|spacing|80"} -->
	<div style="height:var(--wp--preset--spacing--80)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:pattern {"slug":"ihbi/cta-centered-heading"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
