<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"5vh"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:5vh">
	<!-- wp:heading {"level":5,"align":"wide","className":"page-eyebrow"} -->
	    <h5 class="wp-block-heading alignwide page-eyebrow">Funding</h5>
	<!-- /wp:heading -->
	<!-- wp:heading {"level":1,"textAlign":"left","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} -->
	    <h1 class="wp-block-heading " style="margin-bottom:var(--wp--preset--spacing--40)">Thank you to all our sponsors!</h1>
        <h3 class="wp-block-heading " style="font-weight: 400;">Who helped fund our projects.</h3>
	<!-- /wp:heading -->
	<!-- wp:spacer {"height":"var:preset|spacing|60"} -->
	    <div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:shortcode -->
	    [funding_list]
	<!-- /wp:shortcode -->
    <!-- wp:spacer {"height":"var:preset|spacing|40"} -->
	    <div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:pattern {"slug":"ihbi/cta-centered-heading"} /-->

	<!-- wp:spacer {"height":"var:preset|spacing|20"} -->
	    <div style="height:var(--wp--preset--spacing--20)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
